spring:
  datasource:
    url: jdbc:mysql://localhost:3306/shopping_db_test
    username: root
    password: lldj123414
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true